<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

<servlet>
	<servlet-name>datetime-jsp</servlet-name>
	<jsp-file>/Datetime.jsp</jsp-file>
		<init-param>
			<param-name>file_name</param-name>
			<param-value>c:\\data\\winner-list.txt</param-value>
		</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>datetime-jsp</servlet-name>
	<url-pattern>/Datetime.jsp</url-pattern>
</servlet-mapping>

</web-app>